<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ReRegisterEventInterval" value="2" />
    <add key="singleDeviceIp" value="192.168.100.11" />
    <add key="singleDeviceNumber" value="1" />
    <add key="LogDailyDownloadTime" value="11:43:00" />
    <add key="AreaId" value="1" />
    <add key="DatabaseConnection" value="Server=localhost;Database=MaestroDeviceLog;Port=3306;User Id=root;password=;Connect Timeout=1;" />
    <add key="CloudUrl" value="http://localhost:8080/logcloud/api/devicelog" />
    <add key="CloudPushInterval" value="1" />
    <add key="DateFetchInterval" value="3" />
    <add key="CloudPool" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>